.frame {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #212121;
  background-image: url("src//assets/espacio.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3em;
  margin-bottom: 20px;
  color: #ffcc00;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.button {
  display: inline-block;
  margin-top: 20px; /* Espacio entre los botones */
  margin-bottom: 10px; /* Ajuste para espacio debajo de los botones */
  padding: 10px 30px;
  background-color: #ff0000;
  border: none;
  border-radius: 50px;
  font-family: "Luckiest Guy", cursive;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #cc0000;
}
